body,
button,
input,
select,
textarea {
  font-family: 'Sofia Pro', BlinkMacSystemFont, -apple-system, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

p {
  font-size: 20px;
  line-height: 1.8;
}

.content h1 {
  font-size: 3rem;
}

/* used for sticky footer */
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* used for sticky footer */
.Site-content {
  flex: 1;
}

.wrapper {
  display: block;
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.25rem;
}

/* used for pingpong logo in upper left */
.is-centered {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.navbar-home {
  /* background-color: #F2F5F7; */
}

.navbar-item {
  font-weight: 500;
  color: rgba(0,0,0,.4); /* rgba(38,52,74,.5); */
}

.navbar-item span {
  color: rgba(0,0,0,.4); /* rgba(38,52,74,.5); */
}


.navbar-brand a {
  font-weight: 700;
  font-size: 1.25rem;
}

.navbar-item span {
  padding: 6px 8px;
}

.navbar-item span:hover {
  background-color: whitesmoke; /* rgba(0,0,0,0.05); */
  color: rgba(0,0,0,.5); /* rgba(4,15,26,.6); */
  border-radius: 8px;
  filter: none;
}

.navbar-item svg {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.navbar-item span:hover svg #paddle {
  fill:#FF3868;
}

.navbar-home span svg #paddle {
  fill: #999999; /* #8C94A0; */
}

.navbar-burger {
  height: 4rem;
  width: 4rem;
}

.navbar-burger span {
  height: 2px;
  border-radius: 1px;
  color: #999999; /* #8C94A0 hex equivalent to rgba(38,52,74,.5) */
}

.hero {
  /* background-color: #F2F5F7; */
  /* min-height: 124vh; */
}

.hero .columns {
  margin-left: 0; /* otherwise there will be a weird right gutter */
  margin-right: 0; /* otherwise there will be a weird right gutter */
}

.hero .title {
  /* font-size: 4.5rem;
  /* font-size: 40px;
  color: #3F4D58; */
  font-weight: 500;
  max-width: 608px;
  margin-left: auto;
  margin-right: auto;
}

.hero .subtitle {
  /* font-size: 2.25rem; */
  font-weight: 700;
  /* margin-top: -.5rem;
  margin-bottom: 3rem; */
  color: #3F4D58;
  max-width: 360px;
}


.hero-body {
  /* background: url(../img/table.svg); */
  background-size: cover;
  margin-top: 124px;
  margin-bottom: 124px;
  background-position-y: 192px;
  z-index: 10;
}

.early-access {
  color: rgba(0, 0, 0, .4); /* rgba(4, 15, 26, .4); */
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 1rem !important;
  text-align: center;
}

.product {
  background: url(../img/table.svg) no-repeat;
  background-size: cover;
  transform: skewY(10deg);
  background-color: #47A1FF;
  min-height: 100vh;
  height: 100vw;
}

.product .container {
  margin-top: auto;
  margin-bottom: auto;
  transform: skewY(-10deg);
}

.product .container .content {
  color: #fff;
  margin-top: -20vw;
  max-width: 540px;
}

.product .content h1 {
  color: #fff;
  /* font-weight: 600; */
}

.product .image {
  max-width: 1000px;
  margin-left: auto;
}

.description img {
  max-height: 44rem;
  width: auto;
  z-index: -1;
  margin-right: 6rem;
}

.description .content {
  max-width: 35rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

.item.right {
  flex-direction: row-reverse;
}

.item.right img {
  margin-left: 0;
  margin-right: 0;
  mask-image: linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%);
  -webkit-mask-image: -webkit-linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%);
}

.message {
  margin: 400px auto;
  max-width: 760px;
}
.message.is-info .message-body {
  border-color: #47A1FF;
  color: #3273DC;
  font-size: 2rem;
  border-left: 4px solid #47A1FF;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 4px;
}

.input {
  height: 4rem;
  box-shadow: none;
  border: 4px solid #E5E5E5;
  border-radius: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #4A4A4A; /*#3F4D58;*/
}

#subscribe .control {
  max-width: 22rem;
  margin: 0 auto;
}

#subscribe .control:hover {
  border-radius: 1.5rem;
  /* box-shadow: 0 4px 6px rgba(0,0,0, 0.1); */
}

.input:hover {
  border-color: #E5E5E5;
}

.input:focus {
  border-color: #E5E5E5;
  box-shadow: none;
}

#subscribe input[type="submit"] {display: none;}

#subscribe:valid svg {
  filter: none;
  opacity: 1;
}

#subscribe svg {
  filter: grayscale(100%);
  opacity: 0.5;
  padding: 1px; /* there was clipping without this */
  position: absolute;
  top: 11px;
  right: 12px;
}

.section {
  padding: 6rem 0rem;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 4rem;
}

.features .content h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

.features .content p {
  font-size: 1rem;
  color: gray;
}

.features-item {
  width: 22rem;
  margin-bottom: 7rem !important;
}

.benefits {
  max-width: 1000px;
  margin: 0 auto;
}

.benefits h1 {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 176px;
}

.benefits h3 {
  font-weight: 700;
}

/* .item {
  padding: 4rem;
}

.item p {
  max-width: 360px;
} */

.number {
  height: 48px;
  width: 48px;
  min-width: 48px;
  font-size: 1.5rem;
  font-weight: 900;
  border: 4px solid;
  background-color: transparent;
}

.first h3 {
  color: #209CEE;
}

.first .number {
  color: #209CEE;
}

.second h3 {
  color: #00D1B2;
}

.second .number {
  color: #00D1B2;
}

.third h3 {
  color: #FF9C33;
}

.third .number {
  color: #FF9C33;
}

.third svg {
  vertical-align: middle;
  stroke-width: 4px;
}

.fourth h3 {
  color: #B86BFF;
}

.fourth .number {
  color: #B86BFF;
}

.macbook {
  margin-top: 188px;
}

.macbook {
  /* background: linear-gradient(to top, #47A1FF 0%, #47A1FF 80%, #fff 80%, #fff 100%);
  background: -webkit-linear-gradient(top, #47A1FF 0%, #47A1FF 80%, #fff 80%, #fff 100%); */
  background-color: #47A1FF;
}

/* .macbook:before {
  position: fixed;
  z-index: -1;
  top: 0
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #47A1FF;
} */

.macbook .image {
  margin-top: -600px;
}

.macbook .column {
  padding: 0;
}

.quote {
  max-width: 35rem;
  margin-top: -120px;
  padding-bottom: 11rem;
  color: #fff;
}

.quote h1 {
  color: #fff;
}

.quote .source {
  opacity: 0.75;
}

#pricing {
  padding-top: 12rem;
}

#pricing p {
  max-width: 480px;
  margin: 0 auto;
}

#pricing .early-access {
  margin-top: 4rem;
}




.footer {
  padding: 40rem 1.5rem 4rem;
  background-color: #fff;
  background: url(../img/big-ball.svg) bottom left no-repeat;
  background-size: contain;
  margin-top: 6rem;
}

.footer a {
  padding: 0.5rem;
  color: #b5b5b5;
  font-weight: 500;
}

.footer a:hover {
  background-color: rgba(0,0,0,0.05);
  color: rgba(4,15,26,.6);
  border-radius: 8px;
}

.footer span {
  display: inline-block;
  padding-bottom: 2px;
}

.footer svg {
  height: 1rem;
  width: 1rem;
  color: #FF3868;
}


@media only screen and (max-width: 768px) {
    header .wrapper {
      padding: 0;
    }

    .hero-body {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    .content h1 {
      font-size: 2rem;
    }

    .hero .title {
      font-size: 2rem;
    }
    .hero .subtitle {
      font-size: 1.5rem;
    }


    .product .container .content {
      margin-top: 0;
    }

    .message {
      margin: 192px auto;
    }

    .message.is-info .message-body {
      font-size: 1.5rem;
    }

    .benefits h1 {
      margin-bottom: 88px;
    }

    .item {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      margin-bottom: 4rem;
      /* padding: 2rem 1rem; */
    }

    .item .image {
      padding-bottom: 2rem;
    }

    .item.right {
      flex-direction: column;
    }

    .item.right .image {
      padding-bottom: 1rem;
    }

    .features {
      padding-top: 2rem;
    }

    .features-item {
      margin-bottom: 2.5rem !important;
    }

    .macbook {
      margin-top: 0;
    }

    .macbook .image {
      margin-top: -200px;
    }

    .quote {
      margin-top: 0;
      padding-bottom: 4rem;
    }

    #pricing {
      padding-top: 6rem;
      padding-bottom: 0;
    }

    .footer {
      padding: 8rem 1.5rem 2rem;
    }
}

@media only screen and (min-width: 769px) {
  .navbar-item {
    padding: 0.5rem 0;
  }
}

@media only screen and (min-width: 1441px) {
  .product {
    height: 80vw;
  }

  .product .container .content {
    color: #fff;
    margin-top: -15vw;
    max-width: 540px;
  }
}

@media only screen and (min-width: 1921px) {
    .hero .container {
      max-width: 1784px;
    }
}

