<footer class="footer">
  <div class="container">
    <div class="wrapper">
      <div class="content has-text-centered">
        <p class="has-text-grey-light is-size-5"><a href="/" class="has-text-weight-bold">pingpong</a></p>
        <a href="/about">about</a>
        <a href="https://twitter.com/usepingpong" target="_blank">twitter</a>
        <a href="/privacy-policy">privacy</a>
        <a href="/terms-of-service">terms</a>
        <!-- <p class="has-text-grey-light is-size-5"><span class="has-text-weight-bold">pingpong</span><br>made with {{ partial "heart-solid.svg" . }} in austin, tx</p> -->
      </div>
    </div>
  </div>
</footer>
