<p class="early-access">get early access</p>
<form id="subscribe" name="subscribe" method="POST" netlify-honeypot="bot-field" action="/thanks" netlify>
  <span class="hidden">
    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
  </span>
  <div class="field">
    <div class="control">
      <input class="input" name="email" type="email" placeholder="you@email.com" required>
      <label>
      <input type="submit" class="submit-button">
        {{ partial "subscribe-button.svg" . }}
      </label>
    </div>
  </div>
</form>
